/* 顶部广告 start*/
.header {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}

/* 面试常见的css问题，内容居中问题
一个大盒子，一个小盒子，小盒子如何在大盒子中间
1,弹性盒子
2,定位
3，表格
 */

.header img {
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 顶部广告 end */

/* 黑色导航 start */
.black-nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    font-size: 12px;
}

.black-nav .wrap {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

.black-nav .wrap .black-nav-left {
    position: absolute;
    left: 0;
}

.black-nav .wrap .black-nav-right {
    position: absolute;
    right: 0;
}

.black-nav .wrap .black-nav-left li {
    position: relative;
    float: left;
}

.black-nav .wrap .black-nav-right li {
    float: left;
}

.black-nav .wrap li span {
    color: #424242;
    margin: 0 3.6px;
}

.black-nav a {
    color: #b0b0b0;
}

.download {
    width: 124px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    overflow: hidden;
}

.download img {
    width: 90px;
    margin: 18px auto 0;
}

.download p {
    color: #333;
    font-size: 12px;
    line-height: 12px;
}

.black-nav-left li:hover>.download {
    height: 148px;
}

.stri {
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -12px;
    display: none;
}

.black-nav-left li:hover>.stri {
    display: block;
}

.cart {
    width: 120px;
    height: 40px;
    color: #424242;
    margin-left: 25px;
    position: relative;
}

.cart:hover {
    background-color: #fff;
}

.cart:hover>a {
    color: #ff6700;
}

.cart i {
    font-style: normal;
    margin-right: 8px;
}

.cart-list {
    width: 316px;
    height: 0px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    top: 40px;
    color: #424242;
    overflow: hidden;
    line-height: 100px;
}

.cart:hover>.cart-list {
    height: 100px;
}

/* 黑色导航 end */

/* 白色导航 start */
.white-nav{
    background-color: white;
    height: 100px;
    width: 100%;
    position: relative;
}

.white-nav .wrap {
    width: 1226px;
    margin: 0 auto;
}

.logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin-top: 22.5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.logo>img{
    width: 100%;
    height: 100%;   
    position: absolute;
    top: 0;
    transition: all 0.2s;
}

.mi-home{
    left: -55px;
}

.mi-logo{
    left: 0;
}

.logo:hover>.mi-home{
    left: 0px;
}

.logo:hover>.mi-logo{
    left: 55px;
}

.nav-bar{
    width: 875px;
    height: 100px;
    line-height: 100px;
    float: left;
}

.search{
    width: 296px;
    height: 100px;
    float: right;
}

.nav-bar li{
    float: left;
}

.nav-bar li a{
    color: #333;
    padding: 0 10px;
}

.nav-bar li a:hover{
    color: #ff6700
}

.nav-bar ul li img{
    margin-top: 22.5px;
}

.search input{
    width: 244px;
    height: 50px;
    float: left;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 0 10px;
    border-right: 0px;
    outline: none;
}

.search button{
    width: 52px;
    height: 50px;
    float: right;
    margin-top: 25px;
    border: 1px solid #e0e0e0;
}

.search button:hover{
    background-color: #ff6700;
    color: white;
}

.nav-bar-list{
    width: 100%;
    height: 229px;
    background-color: white;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
}

.nav-bar li:hover>.nav-bar-list{
    display: block;
}


.nav-bar-list  li{
   line-height: normal;
   border-right: 1px solid #eee;
}

.nav-bar-list .name{
    font-size: 12px;
    color: #333;
}

.nav-bar-list .price{
    font-size: 12px;
    color: #ff6700;
}

/* banner start */
.banner{
    width: 100%;
    height: 460px;
}

.banner>.wrap{
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

.banner img{
    width: 100%;
}

.banner .slider{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105, 101, 101, 0.6);
    position: absolute;
    left: 0;
    top: 0;
}

.banner>.wrap>.slider>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
}

.banner>.wrap>.slider>ul>li>a{
    color: #fff;
}

.banner>.wrap>.slider>ul>li:hover{
    color: #fff;
    background-color: #ff6700;
}

.banner>.wrap>.slider>ul>li>a>i{
    float: right;
    padding-right: 20px;
}

.slider>ul>li:hover>.slider-list{
    display: block;
}

.slider-list{
    height: 460px;
    width: 992px;
    background-color: #fff;
    border: 1px solid #eee;
    position: absolute;
    top: 0;
    left: 234px;
    border-left: none;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    display: none;
}

.slider-list ul{
    width: 100%;
}

.slider-list li{
    width: 250px;
    height: 76px;
    float: left;
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
    line-height: 76px;
}

.slider-list li img{
    width: 40px;
    margin-right: 10px;
}

.slider-list span{
    color: #333;
    font-size: 14px;
    position: relative;
    top: -10px;
}


.slider-list li:hover span{
    color: #ff6700;
}
/* banner end */

/* 广告开始 */


.ad{
    width: 100%;
    height: 170px;
    padding: 14px 0;
    background-color: #fff;
}

.ad .wrap{
    width: 1226px;
    margin: 0 auto;
}

.ad .ad-slide{
    background-color: #5f5750;
    width: 234px;
    height: 170px;
    padding: 3px;
    font-size: 12px;
    box-sizing: border-box;
    float: left;
}

.ad .ad-slide li{
    float: left;
    height: 82px;
    width: 76px;
    padding-top: 18px;
    box-sizing: border-box;
    opacity: 0.7;
}

.ad .ad-slide i{
    font-size: 24px;
    margin-bottom: 4px;
    display: block;
    color: #fff;
}

.ad-slide p{
    color: #fff;
}

.ad-slide li:hover{
    opacity: 1;
}

.ad-img{
    width: 316px;
    margin-left: 14.6px;
    height: 170px;
    float: left;
}
.ad-img img{
    height: 100%;
}