/* 顶部广告 start*/
.header {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}

/* 面试常见的css问题，内容居中问题
一个大盒子，一个小盒子，小盒子如何在大盒子中间
1,弹性盒子
2,定位
3，表格
 */

.header img {
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 顶部广告 end */

/* 黑色导航 start */
.black-nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    font-size: 12px;
}

.wrap {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

.black-nav .wrap .black-nav-left {
    position: absolute;
    left: 0;
}

.black-nav .wrap .black-nav-right {
    position: absolute;
    right: 0;
}

.black-nav .wrap .black-nav-left li {
    position: relative;
    float: left;
}

.black-nav .wrap .black-nav-right li {
    float: left;
}

.black-nav .wrap li span {
    color: #424242;
    margin: 0 3.6px;
}

.black-nav a {
    color: #b0b0b0;
}

.download {
    width: 124px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    overflow: hidden;
}

.download img {
    width: 90px;
    margin: 18px auto 0;
}

.download p {
    color: #333;
    font-size: 12px;
    line-height: 12px;
}

.black-nav-left li:hover>.download {
    height: 148px;
}

.stri {
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -12px;
    display: none;
}

.black-nav-left li:hover>.stri {
    display: block;
}

.cart {
    width: 120px;
    height: 40px;
    color: #424242;
    margin-left: 25px;
    position: relative;
}

.cart:hover {
    background-color: #fff;
}

.cart:hover>a {
    color: #ff6700;
}

.cart i {
    font-style: normal;
    margin-right: 8px;
}

.cart-list {
    width: 316px;
    height: 0px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    top: 40px;
    color: #424242;
    overflow: hidden;
    line-height: 100px;
}

.cart:hover>.cart-list {
    height: 100px;
}

/* 黑色导航 end */

/* 白色导航 start */
.white-nav{
    background-color: white;
    height: 100px;
    width: 100%;
}

.logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin-top: 22.5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.logo>img{
    width: 100%;
    height: 100%;   
    position: absolute;
    top: 0;
    transition: all 0.2s;
}

.mi-home{
    left: -55px;
}

.mi-logo{
    left: 0;
}

.logo:hover>.mi-home{
    left: 0px;
}

.logo:hover>.mi-logo{
    left: 55px;
}

.nav-bar{
    width: 875px;
    height: 100px;
    line-height: 100px;
    float: left;
}

.search{
    width: 296px;
    height: 100px;
    float: right;
}

.nav-bar li{
    float: left;
}

.nav-bar li a{
    color: #333;
    padding: 0 10px;
}

.nav-bar li a:hover{
    color: #ff6700
}

.nav-bar ul li img{
    margin-top: 22.5px;
}

.search input{
    width: 244px;
    height: 50px;
    float: left;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 0 10px;
    border-right: 0px;
    outline: none;
}

.search button{
    width: 52px;
    height: 50px;
    float: right;
    margin-top: 25px;
    border: 1px solid #e0e0e0;
}

.search button:hover{
    background-color: #ff6700;
    color: white;
}