/* 顶部广告 start*/
.header{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}

/* 面试常见的css问题，内容居中问题
一个大盒子，一个小盒子，小盒子如何在大盒子中间
1,弹性盒子
2,定位
3，表格
 */

.header img{
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* 顶部广告 end */

/* 黑色导航 start */
.black-nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    font-size: 12px;
}

.wrap{
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

.black-nav .wrap .black-nav-left{
    position: absolute;
    left: 0;
}
.black-nav .wrap .black-nav-right{
    position: absolute;
    right: 0;
}

.black-nav .wrap .black-nav-left li{
    float: left;
}

.black-nav .wrap .black-nav-right li{
    float: left;
}

.black-nav .wrap li span{
    color: #424242;
    margin: 0 3.6px;
}

.black-nav a{
    color: #b0b0b0;
}
/* 黑色导航 end */